
{% extends "SolustatTimeSheetBundle::layout.html.twig" %}

{% block title %}
    Liste du personnel - {{ parent() }}
{% endblock %}

{% block solustattimesheet_body %}
    <h2>Liste du personnel</h2>
    {% if app.session.flashBag.has('notice') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('notice') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    <ul>
        {% for nurse in listNurses %}
            <li>
                <a href="{{ path('solustat_time_sheet_nurse_view', {'id': nurse.id}) }}">
                    {{ nurse.name }}
                </a>
                <a href="{{ path('solustat_time_sheet_nurse_edit', {'id': nurse.id}) }}">
                   / modifier
                </a>
                <a href="{{ path('solustat_time_sheet_nurse_delete', {'id': nurse.id}) }}">
                   / supprimer
                </a>
                créé le {{ nurse.createdAt|date('d/m/Y') }}
            </li>
        {% else %}
            <li>Pas (encore !) de fiche employé(e)</li>
        {% endfor %}
    </ul>

    <ul class="pagination">
        {% for p in range(1, nbPages) %}
            <li{% if p == page %} class="active"{% endif %}>
                <a href="{{ path('solustat_time_sheet_nurse_list', {'page': p}) }}">{{ p }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}